In [23]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)

school_data_to_load = "/Users/victoriasandoval/UCI-VIRT-DATA-PT-03-2022-U-LOL/02-Homework/04-Pandas/Instructions/PyCitySchools/Resources/schools_complete.csv"
student_data_to_load = "/Users/victoriasandoval/UCI-VIRT-DATA-PT-03-2022-U-LOL/02-Homework/04-Pandas/Instructions/PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [24]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [27]:
total_schools = school_data_complete["school_name"].nunique()
total_schools

15

In [28]:
total_students = school_data_complete["student_name"].nunique()
total_students

32715

In [30]:
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [31]:
school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [32]:
total_budget = school_data_complete["budget"].sum()
total_budget

82932329558

In [34]:
avg_math_score = school_data_complete["math_score"].mean()
avg_math_score

78.98537145774827

In [35]:
avg_reading_score = school_data_complete["reading_score"].mean()
avg_reading_score

81.87784018381414

In [36]:
school_data_complete["reading_score"].describe(percentiles=[70, 80, 90, 100])

ValueError: percentiles should all be in the interval [0, 1]. Try [0.7 0.8 0.9 1. ] instead.